body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1e90ff, #00bfff); /* Градиентный фон от синего к более светлому голубому */
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 2rem;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

.add-bot-button {
    display: inline-block;
    background: #ff4500;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
}

section#commands {
    padding: 2rem;
}

footer {
    background: #333;
    color: #fff;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
